[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Yappari
Exec=/usr/bin/Yappari
Icon=yappari
StartupWMClass=yappari
X-Window-Icon=yappari
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

